*.o
*.cxx
*.moc
*.log
install_manifest.txt
build-stamp
configure-stamp
Makefile
CMakeFiles/
moc_*
cmake_install.cmake
CMakeCache.txt
debian/files
debian/tmp/
debian/applifed/
src/applifed
*.substvars
debian/applifed-functional-tests/
debian/applifed-performance-tests/
debian/applifed-tests/
debian/stamp-makefile-build
tests/functests/helloworld/applifed_ft_helloworld
tests/functests/multiwindow_apps/close-event/close-event
tests/functests/multiwindow_apps/multiplewindows1/multiplewindows1
tests/functests/multiwindow_apps/multiplewindows2/multiplewindows2
tests/functests/multiwindow_apps/multiplewindows3/multiplewindows3
tests/functests/terminateonclose_app/terminateonclose_app
tests/perftests/helloworld/applifed_helloworld
tests/perftests/memoryhog/memoryhog
tests/perftests/prestart/waitforwindow
tests/unittests/ut_configdata/ut_configdata
tests/unittests/ut_cpuload/ut_cpuload
tests/unittests/ut_prestarter/ut_prestarter
tests/unittests/ut_prestartparser/
